<div class="fixed-bg">
  <img src="https://i.ibb.co/jTnzcGM/d4b30ea3a48f2cd7abff3b8072f6b5b9.jpg" />
</div>
{{#with user}}
  <input type="hidden" id="user-token" value="{{token}}" />
{{/with}}
{{#with group}}
  <input type="hidden" id="group-id" value="{{id}}" />
  <div class="container-column">
    <div class="update-group">
      <input name="name" type="text" class="group-text" id="group-name" style="font-size: 2.3em;color:purple;" value="{{name}}" required/>
      <p class="popular-search">
        <textarea
          name="description"
          type="text"
          class="group-text"
          id="group-description"
          style="width: 21vw ; font-size: 1.5em;resize:none;text-align:center;text-transform:none;"
          required
        >{{description}}</textarea>
      </p>
      <button type="submit" class="custom-button" id="update">Update</button>
    </div>
    {{#if movies}}
    <div>
      <span class="popular-search" >Total movies: </span>
      <span class="popular-search" id="total-movies">{{"number of movies"}}</span>
      <span class="popular-search"> movies</span>
      <p></p>
      <span class="popular-search">Total duration: </span>
      <span class="popular-search"  id="total-runtime">{{"total duration"}}</span>
      <span class="popular-search"> mins</span> 
      <p></p>
    </div> 
    {{/if}}
  </div>
  <div class="container-collumn group-info">
    {{#if movies}}
      {{#each movies}}
        <div class="dynamic-panel-col" id="movie-{{_id}}" style="width: 20%;">
          <img src="{{image}}" alt="{{title}}" />
          <a href="/movies/{{id}}" style="height: 50%;position:absolute;">{{title}}</a>
          <input type="hidden" id="runtime-{{_id}}" value={{runtime}} />
          <button type="submit" class="custom-button" style="position:absolute; align-self:flex-end;"id="delete-movie" value="{{_id}}">Delete Movie</button>
        </div>
      {{/each}}
    {{/if}}
  </div>
{{/with}}