<div class="fixed-bg">
  <img src="https://i.ibb.co/jTnzcGM/d4b30ea3a48f2cd7abff3b8072f6b5b9.jpg" />
</div>
<div class="groups-container">
  <h1 class="popular-search"> My Groups</h1>
  <div class="create-group-header">
    <h2 style="color:white; text-align: center; margin-top: -5%;">Create new
      Group</h2>
    <form action="/groups" method="POST" class="create-group">
      <div>
        <label for="name" class="popular-search">Name</label>
        <input type="text" name="name" class="create-group-name" required />
      </div>

      <div>
        <label for="description" style="color:white;">Description</label>
        <input name="description" class="create-group-desc" required />
      </div>
      <button type="submit" style="margin: 5%;">Create Group</button>
    </form>
  </div>
  {{#if groups}}
    <h2 class="popular-search">Groups</h2>
    <ul>
      {{#with user}}
        <input type="hidden" id="user-token" value="{{token}}" />
      {{/with}}
      {{#each groups}}
        <li class="group" id="{{id}}">
          {{! verify name }}
          <h2><a
              href="/groups/{{id}}"
              style="text-decoration:none; color:purple;text-transform:uppercase"
            >{{name}}</a></h2>
          <p class="popular-search">{{description}}</p>
          <p class="popular-search">{{"number of movies"}} movies</p>
          {{#if "total duration"}}
            <p class="popular-search">{{"total duration"}}mins</p>
          {{/if}}
          <div>

            <button
              type="submit"
              class="delete-group"
              id="delete:{{id}}"
            >Delete</button>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>