<div class="fixed-bg">
    <img src = "https://i.ibb.co/V9SdjjV/bg-test1.jpg">
</div>
<div class ="container-column">

    {{#each movies}}
        <div class="dynamic-panel-col">
            {{#if image}}
            <img  src={{image}} alt={{title}}>
            <a class="popular-text" href="/movies/{{id}}" >{{title}} #{{rank}}</a>
            {{/if}}
        </div>
    {{/each}}
</div>